.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 0px 50px;
    align-items: center;
    height: 85px;
}

.logo {
    width: 5rem;
}

.nav-items > ul {
    display: flex;
    list-style: none;
    font-size: x-large;
}

.nav-items > ul > li {
    padding:10px;
    margin: 10px;
}

.res-card {
    margin: 5px;
    padding: 5px;
    width: 55%;
}

.res-card:hover{
    border: 1px solid black;
}

.res-container{
display: flex;
flex-wrap: wrap;
}

.res-logo{
    width: 100%;
    height: 50%;
}

.filter-btn{
    margin:10;
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    background-color: #d3d3d3;
    height: 10rem;
    margin: 3rem;
    padding: 5rem;
}

.login{
padding: 10px;
cursor: pointer;
}

.filter{
    display: flex;
}

.search{
    margin: 1px 0;;
}

.search-box{
   margin: 10px; 
}